* {
  margin: 0;
  padding: 0;
}

html,
body,
button,
input,
select,
textarea {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Droid Sans',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html {
  font-size: 18px;
}

h1,
h2 {
  font-family: 'Cabin';
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}
